@model BeerTime.WebUI.Models.FindNoonViewModel
@{
    ViewBag.Title = "isitbeerti.me";
}
<div id="beer-justification">
    <h1>Always.</h1>
    <p>Just tell your friends that it's noon in @Model.LocationName.</p>
</div>